* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  color: #eee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 0;
  color: #eee;
}

.post {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.post-title {
  margin-top: 0;
  color: #eee;
}

.post-actions {
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.edit-post i {
  color: #1abc9c;
}

.delete-post i {
  color: #e74c3c;
}

form {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-top: 0;
  color: #eee;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #eee;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #444;
  color: #eee;
}

button[type='submit'] {
  background-color: #1abc9c;
  color: #eee;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #16a085;
}
